# Ignore Python virtual environments
.venv/
venv/

# Ignore environment variable files
.env

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore OS-specific files
.DS_Store
Thumbs.db
